.container {
    flex-direction: column;
}

.heading {
    display: flex;
}

.chat-box {
    display: flex;
    width: min(90%, 1200px);
    height: min(90%, 900px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background: black;
    border-radius: 20px;
}

.message-box {
    border-radius: 10px;
    flex-basis: 85%;
    height: min(70%, 900px);
    width: min(95%, 1400px);
    border: 1px solid white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.message-box::-webkit-scrollbar {
    width: 8px;
}
  
.message-box::-webkit-scrollbar-track {
    background: #1e1e1e;
    border-radius: 4px;
}
  
.message-box::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
    border: 2px solid #1e1e1e;
}
  
.message-box::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.input-box {
    border-radius: 10px;
    height: min(70%, 50px);
    width: min(95%, 1400px);
    border: 1px solid white;
}

.msg-receiver, .msg-sender, .user-join {
    background-color: white;
    width: fit-content;
    text-align: justify;
    padding: 10px;
    color: black;
    border-radius: 15px 15px 15px 0;
}

.msg-sender {
    border-radius: 15px 15px 0 15px;
    align-self: flex-end;
}

.user-join {
    border-radius: 5px 5px 5px 5px;
    padding: 4px;
    width: fit-content;
    text-align: center;
    align-self: center;
}

.user-join::before {
    content: '🔔';
}

.input-box {
    display: flex;
    padding: 8px;
    gap: 5px;
}

.input-box input {
    flex-basis: 90%;
    border-radius: 8px 0 0 8px;
}

.input-box button {
    flex-basis: 10%;
    border-radius: 0 8px 8px 0;
}